[submodule "vim/bundle/vim-colors-solarized"]
	path = vim/bundle/vim-colors-solarized
	url = git@github.com:altercation/vim-colors-solarized.git
[submodule "vim/bundle/vim-ultisnips"]
	path = vim/bundle/vim-ultisnips
	url = git@github.com:vim-scripts/UltiSnips.git
[submodule "vim/bundle/atp-vim-code"]
	path = vim/bundle/atp-vim-code
	url = git://git.code.sf.net/p/atp-vim/code
[submodule "vim/bundle/vim-latex"]
	path = vim/bundle/vim-latex
	url = git@github.com:jcf/vim-latex.git
[submodule "dircolors-solarized"]
	path = dircolors-solarized
	url = git@github.com:seebi/dircolors-solarized.git
