snippet art "Article structure"
\documentclass{article}

\usepackage[top=1.5in, bottom=1.5in, left=1.5in, right=1.5in]{geometry}
\usepackage{graphicx}
\usepackage{amsmath}


\title{$1}
\author{Herv\'e Rouault}

\begin{document}
\maketitle

$0

\end{document}
endsnippet
